<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
			integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
			crossorigin="anonymous"
		/>
		<title>TinyApp</title>
	</head>
	<body>
		<%-include('partials/_header') %>
		<main style="margin: 1em">
			<% if(!user_id) {%>
			<div class="card text-center">
				<div class="card-header">
					<img src="tinyAppLogo.jpg" alt="TinyApp Logo" width="10%" />
				</div>
				<div class="card-body">
					<h4>Login or Register</h4>
					<form action="/login" method="POST">
						<div class="form-group">
							<input
								style="align-content: center; width: 300px; margin: auto"
								class="form-control"
								type="email"
								name="email"
								placeholder="Email"
							/>
						</div>
						<div class="form-group">
							<input
								style="align-content: center; width: 300px; margin: auto"
								class="form-control"
								type="password"
								name="password"
								placeholder="Password"
								style="width: 300px"
							/>
						</div>
						<button type="submit" class="btn btn-primary" style="width: 300px">Login</button>
					</form>
				</div>
				<div class="card-footer">
					<a href="/register" class="btn btn-success" style="width: 300px">Register</a>
				</div>
			</div>

			<% } else { %>
			<h3>My URLs</h3>
			<table class="table" style="font-size: 0.8em">
				<thead>
					<tr>
						<th scope="col">Short URL</th>
						<th scope="col">Long URL</th>
						<th scope="col">Created</th>
						<th scope="col">Last Visit</th>
						<th scope="col" style="padding-left: 23px">Edit</th>
						<th scope="col" style="padding-left: 23px">Delete</th>
					</tr>
				</thead>
				<tbody>
					<% for(let url in urls) { %>
					<tr>
						<td><a href="/urls/<%= url %>"><%= url %></a></td>
						<td><a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a></td>
						<td><%= urls[url].timestamp %></td>
						<td></td>
						<td>
							<a href="/urls/<%= url %>" class="btn btn-outline-primary">Edit</a>
						</td>
						<td>
							<form method="POST" action="/urls/<%= url %>/delete/?_method=DELETE">
								<button class="btn btn-outline-danger" style="margin-right: 50px">Delete</button>
							</form>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>

			<% } %>
		</main>

		<!-- Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
